
header {
    position: fixed;
    top: 0;
    width: 100%;    
    height: 50px;
    background-color: #3E3E3B; 
    color: antiquewhite;
    padding: 5px;
    text-align: center;
    font-size: 40px;
    vertical-align: center;       
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;    
  }
  
  header p {
    margin: 0;
  }
  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #3E3E3B; /* Couleur de fond du footer */
    color: #fff; /* Couleur du texte du footer */
    text-align: center;
    padding: 5px; /* Réduire la taille du padding */
  }

  .App {
    background-color:#F8F3E6;
  }
  
  /* Styles pour les icônes SVG dans le footer */
  footer a {
    color: #3E3E3B;
    text-decoration: none;
    margin: 0 10px;
  }

  footer img {
    width: 20px;
    height: 20px;
    background-color: #EBECED;
  }
  